[package]
name = "opteadm"
version = "0.2.0"
authors = ["Ryan Zezeski <ryan@oxide.computer>"]
edition = "2021"

[dependencies]
libc = "0.2"
illumos-ddi-dki = { path = "../illumos-ddi-dki" }
opte-core = { path = "../opte-core", features = ["std"], default-features = false }
postcard = { version = "0.7.0", features = ["alloc"] }
structopt = "0.3.23"
thiserror = "1.0.28"
libnet = { git = "https://github.com/oxidecomputer/netadm-sys" }

[dependencies.serde]
version = "1.0"
default-features = false
features = ["alloc", "derive"]
